@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
body{
font-family: 'Droid Arabic Naskh', serif;
/*font-family: "Droid Arabic Kufi", tahoma, "Noto Sans";*/
font-size: 16px;
/*font-family: 'Baloo Bhaijaan', cursive;*/
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, table  th{
font-family: "Droid Arabic Kufi", tahoma, "Noto Sans";
}
label{
    font-family: "Droid Arabic Kufi", tahoma, "Noto Sans";
}
p{
font-size: 16px;
}
.bg{
    background: -moz-linear-gradient(0deg, rgba(123,255,229,1) 0%, rgba(23,144,121,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(123,255,229,1)), color-stop(100%, rgba(23,144,121,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, rgba(123,255,229,1) 0%, rgba(23,144,121,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(123,255,229,1) 0%, rgba(23,144,121,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, rgba(123,255,229,1) 0%, rgba(23,144,121,1) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(123,255,229,1) 0%, rgba(23,144,121,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bffe5', endColorstr='#179079',GradientType=1 );

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.94;
}
#menu{
background: url(../Pattern-with-dots-and-hearts/Sans-titre-3.png) repeat 360px -162px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px #333;
    /* background-color: #279f89; */
    /* background: linear-gradient(90deg, #fff 0%, #279f89 100%); */
}
.signin{
    background: url(../nature1.png) bottom center no-repeat;
    background-size: cover;
/*    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;*/
/*     -webkit-filter: blur(3px);
-moz-filter: blur(3px);
-o-filter: blur(3px);
-ms-filter: blur(3px);
filter: blur(3px); */
}
body.form{
background: -moz-linear-gradient(270deg, rgba(22,197,221,1) 0%, rgba(202,249,234,1) 23%, rgba(255,255,255,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(22,197,221,1)), color-stop(23%, rgba(202,249,234,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, rgba(22,197,221,1) 0%, rgba(202,249,234,1) 23%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(270deg, rgba(22,197,221,1) 0%, rgba(202,249,234,1) 23%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(270deg, rgba(22,197,221,1) 0%, rgba(202,249,234,1) 23%, rgba(255,255,255,1) 100%); /* ie10+ */
background: linear-gradient(180deg, rgba(22,197,221,1) 0%, rgba(202,249,234,1) 23%, rgba(255,255,255,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16c5dd', endColorstr='#ffffff',GradientType=0 ); /* ie6-9 */

}
#menu .logo img{
    height: 48px;
    margin-top: 5px;
}
#menu a{
    color: #ce5c58;
    font-size: 14px;
font-family: "Droid Arabic Kufi", tahoma, "Noto Sans";
}
#menu a:hover, #menu a:active{
    color: #0f9d85;
}
#menu:after{
    /*content: "";*/
    background: -moz-linear-gradient(0deg, rgba(123,255,229,1) 0%, rgb(38, 158, 136) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(123,255,229,1)), color-stop(100%, rgb(38, 158, 136))); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, rgba(123,255,229,1) 0%, rgb(38, 158, 136) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(123,255,229,1) 0%, rgb(38, 158, 136) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, rgba(123,255,229,1) 0%, rgb(38, 158, 136) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(123,255,229,1) 0%, rgb(38, 158, 136) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bffe5', endColorstr='#269e88',GradientType=1 );
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.94;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
}

.banner img.fadedbg{
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
}
.banner .btn-border{
    position: relative;
    margin: auto;
    color: #376960;
    border: 3px solid #53756f;
    padding: 10px 30px;
    font-size: 25px;
    background: url(../Pattern-with-dots-and-hearts/3773-[Converted].png);
}
.banner .text{
    position: absolute;
    right: 0px;
    top: 60px;
    width: 600px;
}
.banner .text p{
    margin-top: 5px;
    font-size: 29px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Droid Arabic Naskh', serif;
    text-shadow: -1px 0px 0px rgba(0, 0, 0, 0.63);
}
.banner .text img{
    width: 230px;
}
.banner .hearts{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    opacity: 0.9;
    background: url(../Pattern-with-dots-and-hearts/Sans-titre-3.png) no-repeat bottom left;
}
.banner img.hands{
    position: absolute;
    top: 0;
    height: 80%;
    left: 20%;
}
.banner{
    min-height: 400px;
    padding: 185px 0;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
}
.banner h1 {
    font-size: 48px;
    margin: 0 0 25px 0;
    text-shadow: 0 1px 19px rgba(0, 0, 0, 0.12);
}
.banner .tip {
    font-size: 20px;
    text-shadow: 0 1px 17px rgba(0, 0, 0, 0.31);
    margin: 0 0 68px 0;
}
.banner .action.play a i{
    margin: auto;
    left: 5px;
    position: relative;
}
.banner .action.play a{
    font-size: 27px;
    border-width: 5px;
    border: 5px solid;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: flex;
    position: relative;
    margin: auto;
    text-decoration: none
}
.banner .action.play a{
    text-align: center;
    display: flex;
    color: #2f5d55 !important;
}

.banner .button{
    position: absolute;
    bottom: 67px;
    left: 0;
    right: 0;
    /*width: 500px;*/
}
.banner .account_buttons{
    position: absolute;
    top: 289px;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: right;
    padding-right: 141px;
}
.action.play {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
}
.banner .account_buttons a{
    color: #FFF;
    border: 1px solid #FFF;
    margin: 0 10px;
}
.banner .account_buttons a:hover, .banner .account_buttons a:active{
    color: #FFF;
    border: 1px solid #e74c3c;
    background: #e74c3c;
}
.banner .button p{
    font-size: 20px;
    color: #c8eae4;
    position: absolute;
    top: -52px;
    right: 120PX;
}
.banner .button .btn{
    margin-top: 11px;
}
.quran{
    font-family: PDMS_Saleem_QuranFont-signed;
    font-size: 24px!important;
}
.options{
    display: flex;
    flex-direction:row-reverse;
}
.options .select{
    margin-left: 15px;
}
.input-group-btn:last-child > .btn {
     border-left-width: 2px!important;
    border-right-width: 0!important;
    margin-left: 0px !important;
    margin-right: -3px !important;
}
button.search{
    height: 41px;
}
.text_panel{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #f7f7f7;
    padding: 20px;
}
.footer {
    padding-top: 100px;
    background: url(../Pattern-with-dots-and-hearts/footer.png) bottom;
    background-size: 940px;
    background-repeat: repeat-x;
    font-family: "Droid Arabic Kufi", tahoma, "Noto Sans";
    /* background-color: #f5f5f5; */
}
.signin .footer {
    padding-top: 30px;
    background: #08080854;
    color: #054c3b;
}
.footer a {
    padding: 10px;
}
.footer a:hover, .footer a:active{
    color: #fff;
}
h4 > .fa {
    font-size: 22px;
}
.supprt_us{
    background: url(../Design-with-globe-for-world-population-day/Untitled-4.png) left bottom no-repeat #f7f7f7;
    /* background-size: 300px; */
}
#main-container {
    margin: auto !important;
    padding: 15px;
}
#membership_page .member_form {
    max-width: 450px;
    margin: 80px auto 30px auto;
    background: #fff;
    color: #ce5d58;
    /* background: #2aa18b; */
    color: #fff;
    /*-webkit-box-shadow: 0 0 150px 4px rgba(0,0,0,0.2) !important;*/
    /*-moz-box-shadow: 0 0 150px 4px rgba(0,0,0,0.2) !important;*/
    box-shadow: 0px 0px 6px 0px #333 !important;
}
#membership_page .form-title {
    padding: 0px 20px 10px 20px;
    border-bottom: 1px dashed #c7c5c4;
    background-image: url(../Pattern-with-dots-and-hearts/Sans-titre-3.png);
    background-position: 0px -76px;
    background-repeat: repeat-x;
}
/* #membership_page .form-title .fa-user{
    font-size: 150px;
    border-radius: 100%;
    border: 5px solid #d24435;
    width: 160px;
    margin-top: -80px;
    background-color: #ec6f62;
    overflow: hidden;
}
#membership_page .form-title .fa-user:before {
    content: "\f007";
    position: relative;
    top: 29px;
} */
#membership_page .form-title .user {
    background-color: #39a792;
    background-color: #d9fff8;
    padding: 10px 24px;
    border-radius: 100%;
    display: inline-block;
    overflow: hidden;
    margin-top: -70px;
    border: 5px solid #226b5f;
    border: 5px solid #18b397;
    /*box-shadow: 0px 0px 7px 0px #000 !important;*/
}
#membership_page .form-title .user img {
    position: relative;
    top: 10px;
}
#membership_page .form-title h1 {
    font-size: 18px;
    color: #ce5c58;
}
#membership_page .form-body .form-group input {
    color: #0f9d85;
    font-size: 17px;
    font-weight: bold;
    padding-right: 10px;
}
#membership_page .form-body .req_field {
    border: none !important;
}
#membership_page .form-body .form-group {
/*     background: #fff;
border-radius: 4px !important;
-webkit-border-radius: 4px !important;
-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2) !important;
-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2) !important;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2) !important; */
}
.form-group {
    margin-bottom: 15px;
}
#membership_page .form-body {
    padding: 30px ;
}
#membership_page .member_form .list-group {
    background: #e9fdf9;
    color: #18b497;
}
#membership_page .member_form .list-group .list-group-item {
    background: none;
    border: none;
    font-size: 12px;
}
#membership_page .form-sumbit {
    padding: 0px 30px 10px 30px;
}
#membership_page .form-sumbit .btn {
    height: 40px;
    background: #ce5c58;
    font-size: 16px;
}
#membership_page .form-tools {
    padding: 10px 30px 40px 30px;
    font-size: 12px;
}
#membership_page .member_form a {
    color: #16a085;
}
#form-container{
    margin-top: 50px;
    max-width: 1040px;
    padding-top: 199px;
    background: url(../city_logo.png) top center no-repeat;
    background-size: 1040px;
}
#form-container .input{
    max-width: initial;
    margin: 0;
}
#form-container h1{
    font-size: 18px;
    margin: 0;
    padding: 40px 0;
}
#form-container .fields{
    background-color: #fff;
    background-color: #fcfcfc;
    box-shadow: 0px 0px 1px 0px #00000099;
}
#form-container .fields .field {
    margin-bottom: 20px;
}
#form-container .fields .select {
     width: 100%;
    box-shadow: 0px 0px 6px 0px #cacacae3 inset;
    padding: 6px 0;
}
#form-container #menu{
    margin-bottom: 0;
    border-bottom: 1px solid #00000017;
    box-shadow: 0px -1px 1px 0px #00000099;
    background-position:  1410px -138px;
}
.input--minoru input{
    box-shadow: 0px 0px 6px 0px #cacacae3 inset;
    color: #797979
}
.input--minoru .input__label--minoru{
margin: 0;
}
.field_label label{
    margin: 0;
    width: 100%;
    padding: 9px 0;
}
.select-default .select2-choice {
  color: #ffffff;
  background-color: #bdc3c7;
}
.select-white .select2-choice:hover,
.select-white .select2-choice.hover,
.select-white .select2-choice:focus,
.select-white .select2-choice:active {
  color: #ffffff;
  background-color: #cacfd2;
  border-color: #cacfd2;
}
.select-white .select2-choice:active {
  background: #a1a6a9;
  border-color: #a1a6a9;
}
.select2-container-disabled.select-white .select2-choice,
.select2-container-disabled.select-white .select2-choice:hover,
.select2-container-disabled.select-white .select2-choice:focus,
.select2-container-disabled.select-white .select2-choice:active {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
}
.select-white .select2-choice .select2-arrow {
  border-top-color: #ffffff;
}