body{

}
.banner{
    min-height: 400px;
    padding: 185px 0;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 40px;
background: -moz-linear-gradient(0deg, rgba(234,251,175,1) 0%, rgba(247,171,149,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(234,251,175,1)), color-stop(100%, rgba(247,171,149,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(0deg, rgba(234,251,175,1) 0%, rgba(247,171,149,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(0deg, rgba(234,251,175,1) 0%, rgba(247,171,149,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(0deg, rgba(234,251,175,1) 0%, rgba(247,171,149,1) 100%); /* ie10+ */
background: linear-gradient(90deg, rgba(234,251,175,1) 0%, rgba(247,171,149,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAFBAF', endColorstr='#f7ab95',GradientType=1 ); /* ie6-9 */
}
.banner h1 {
    font-size: 48px;
    margin: 0 0 25px 0;
    text-shadow: 0 1px 19px rgba(0, 0, 0, 0.12);
}
.banner .tip {
    font-size: 20px;
    text-shadow: 0 1px 17px rgba(0, 0, 0, 0.31);
    margin: 0 0 68px 0;
}
.banner .action.play a i{
    margin: auto;
    left: 5px;
    position: relative;
}
.banner .action.play a{
    font-size: 50px;
    border-width: 5px;
    border: 5px solid ;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    margin: auto;
    text-decoration: none;
}
.banner .action.play a{
    text-align: center;
    display: flex;
    color: #FFF !important;
}

.banner .button{
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
}
.options{
    display: flex;
}
.options .select{
    margin-left: 15px;
}